@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Meslo LGM Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: @base;
    color: @lavender;
}

#workspaces {
    margin-right: 12px;
}
#workspaces button {
    min-width: 0;
    padding: 6px 12px;
    margin: 6px 0 6px 6px;
    background-color: @base;
    color: @text;
}

#workspaces button.focused {
    color: @base;
    background-color: @lavender;
}

#workspaces button:hover {
    color: @sapphire;
}

#clock {
    font-weight: bold;
    color: @text;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#power-profiles-daemon,
#tray,
#mpd {
    margin: 6px 6px 6px 0;
    padding: 6px 12px;
    background-color: @surface0;
    color: @text;
    border-radius: 10px;
}

#mpd.disconnected {
    color: @red;
}

#custom-arch {
    padding: 0 20px 0 10px;
    color: @sapphire;
    font-size: 20px;
}
